@import "../../styles/variable";

.profile-pic {
  flex: 0 0 auto;
  height: 3rem;
  width: 3rem;
  border-radius: .25rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid darken($gray-150, 5);
  background-color: darken($gray-100, 1);
  background-position: center;

  &--empty {
    //display: none;
  }
}
