@import "../../styles/variable";

.post-button {
  @extend %row-nowrap;
  background-color: transparent !important;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  margin: 0;
  padding: .1875rem .375rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  height: 1.375rem;
  border-radius: .125rem;
  color: $light-primary-text;

  .icon {
    transition: opacity 100ms ease-in-out;
    opacity: 1;
    font-size: 1.125rem !important;
    width: 1rem !important;
    height: 1rem !important;
  }

  &__text {
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    padding-left: .5rem;
    transition: color 100ms ease-in-out;
  }

  &:hover {
    color: $dark-primary-text;
  }

  &:active {
    color: $dark-primary-text;
  }

  &--active {
    color: $dark-primary-text;
    &:hover {
      background-color: transparent !important;
      cursor: default;
      color: $dark-primary-text;
    }
  }
}
