@import "../../styles/variable";

.home-panels {
  @extend %col-nowrap;
  padding: .5rem;
}

.home-panel {
  @extend %col-nowrap;
  border: 1px solid $gray-100;
  border-radius: .125rem;
  margin-top: .5rem;

  &__header {
    @extend %row-nowrap;
    border-bottom: 1px solid $gray-100;

    &__title {
      @extend %lite-font;
      @extend %bolder;
      padding: .5rem;
      color: $dark-primary-text;
      user-select: none;
    }
  }

  &__content {
    @extend %row-nowrap;
    margin: .25rem;
    cursor: default;

    .avatar {
      flex: 0 0 auto;
      width: 3.125rem;
      height: 3.125rem;
      margin: .25rem;
      top: 6.25rem;
      left: 0;
      border-radius: 0.18755rem;
      border: 1px solid $gray-100;
      overflow: hidden;
    }

    &__r {
      @extend %col-nowrap;
      margin: .25rem;
      width: 100%;

      &__title {
        @extend %regular-font;
        @extend %bold;
        color: $dark-primary-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: .3125rem;
      }

      &__subtitle {
        color: $light-primary-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .rich-text-editor__controls {
    border: none;
    border-bottom: 1px solid $gray-150;
  }

  .rich-text-editor div.DraftEditor-root {
    border: none;
  }
}
